@import "tailwindcss";
@theme {
  --color-darkerTeal: #152d2e;
  --color-darkTeal: #00bfa7;
  --color-lightTeal: #04cdb3;
  --color-secondary: #7c8690;
  --color-dark: #0a0e11;
}
button,
a {
  cursor: pointer;
}
.card-teal-border {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  background-color: var(--color-darkerTeal);
  border-radius: 1rem;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    border: 1px solid #215557;
    border-radius: 1rem;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: -1;
  }
  &:hover {
    background-color: #171b1f;
    &::after {
      top: 4px;
      left: 4px;
    }
  }
}
